.wrapper input[type='text'] {
  width: 10%;
  border: 1px solid #44d6ec; }

.wrapper input[type='button'] {
  width: 15%;
  background: #44d6ec;
  color: #fff;
  border: none;
  padding: 8px; }

.wrapper .erro {
  color: red;
  margin: 10px 0; }

.wrapper .results {
  width: 16%;
  height: auto;
  border: 1px solid #44d6ec;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  font-size: 14px; }

.wrapper .button {
  width: 15%;
  background: #44d6ec;
  color: #fff;
  border: none;
  padding: 8px;
  display: inline-block;
  cursor: pointer; }

.wrapper h1 {
  font-size: 15px; }

.wrapper h2 {
  font-size: 14px; }
