.wrapper {
    input[type='text'] {
        width: 10%;
        border: 1px solid #44d6ec;
    }
    input[type='button'] {
        width: 15%;
        background: #44d6ec;
        color: #fff;
        border: none;
        padding: 8px;
    }

    .erro{
    	color: red;
    	margin:10px 0;
    }
    .results {
        width: 10%;
        height: 30px;
        border: 1px solid #44d6ec;
        margin: 10px 0;
        outline: none;
    }
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 14px;
    }
}
